bin/
obj/
.vs/
*.user
*.suo

*.nupkg
*.snk

appsettings.Local.json

# DocFX
docfx_project/_site/
docfx_project/api/
docfx_project/.manifest/
docfx_project/obj/
docfx_project/.cache/
docfx_project/.exported_templates/